body{
    background-color: #121213;
    color: #dededc;
}

.game {
    max-width: 500px;
    justify-content: center;
    align-items: center;
}

.letter-cell {
    background-color: #121213;
    border: 2px solid #818384;    
    font-size: 45px;
    font-weight: 700;
    font-family: "Helvetica";
    height: 62px;
    justify-content: center;
    line-height: 62px;
    margin: 5px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 62px;
}

.correct-cell {
    background-color: #538d4e;
}

.partial-correct-cell {
    background-color: #b59f3b;
}

.incorrect-cell {
    background-color: #3a3a3c;
}

.keyboard {
    display: block;
    margin: 30px 0 0 8px;
    height: 200px;
}

.keyboard-row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-key {
    background-color: #818384;
    border-color: #dededc;
    border-width: 1px;
    height: 58px;
    width: 58px;
    margin: 0 6px 0 0;
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Helvetica";
    display: flex;
    text-transform: uppercase;
    flex: 1;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.guesses {
    margin-top: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.stats {
    margin-top: 5px;
    font-size: 32px;
}